@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #0061c9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* --- */

.bg-primary {
  background-color: #3aaf2f;
}

.text-primary {
  color: #3aaf2f;
}

.bg-secondary {
  background-color: #c2cc30;
}

.text-secondary {
  color: #c2cc30;
}

.bg-tertiary {
  background-color: #1f1c1c;
}

.text-tertiary {
  color: #1f1c1c;
}

.bg-quaternary {
  background-color: #ffffff;
}

.text-quaternary {
  color: #ffffff;
}
