# SUPABASE DATABSE

SUPABASE_DATABASE_URL="postgresql://postgres.bwwbaiwlqgbaskydikbe:finalproject123@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1&pool_timeout=0"
SUPABASE_DIRECT_URL="postgresql://postgres.bwwbaiwlqgbaskydikbe:finalproject123@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"

PORT="8000"

CLOUDINARY_NAME="dm1cnsldc"
CLOUDINARY_API_KEY="964176868866297"
CLOUDINARY_API_SECRET="xrNlFD5Cg0DEP46Ec0fDFhlwFqU"

RESEND_API_KEY="re_9kvp1Bhj_2ap96HvLuczhD4FeSivN2jWK"

JWT_SECRET_KEY="secretpassword"

GITHUB_ID="Ov23li5VfL3XIDskYSTT"
GITHUB_SECRET="ccf5f059451e3daf2947c5aecc85c654ba4ed263"

RAJA_ONGKIR_API_KEY="3A0iF41T4004483226fcfb888wGHFUrB"

MIDTRANS_SERVER_KEY='SB-Mid-server-Rjd-kcX5lc-fLzgeWil3R0KW'

OPENCAGE_API_KEY="aef8eab5991d44cebf89a2d45a7af053"


# ----
# SUPABASE_DATABASE_URL="postgresql://postgres.bwwbaiwlqgbaskydikbe:finalproject123@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1&pool_timeout=0"
# SUPABASE_DIRECT_URL="postgresql://postgres.bwwbaiwlqgbaskydikbe:finalproject123@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"